<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Analytics</title>
    <style>
        body {
            background-color: #8a245a;
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }

        .container {
            max-width: 700px;
            margin: 40px auto;
            background-color: aliceblue;
            padding: 30px;
            border-radius: 10px;
        }

        h1 {
            text-align: center;
            color: #8a245a;
            margin-bottom: 30px;
        }

        .url-box {
            padding: 15px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            border-radius: 6px;
            background-color: white;
        }

        .url {
            font-weight: bold;
            color: #333;
        }

        .visits {
            color: #666;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Your URLs & Views</h1>

        <% if (urls.length === 0) { %>
            <p style="text-align:center;">No URLs created yet.</p>
        <% } %>

        <% urls.forEach(url => { %>
            <div class="url-box">
                <div class="url">Input URL: <%= url.redirectURL %></div>
                <div class="url">Short URL: <%= url.shortURL %></div>
                <div class="visits">Visit Count: <%= url.searchHistory.length %></div>
            </div>


        <% }) %>

    </div>
</body>
</html>